#ultimos-proyectos {
  text-align: center;
}

.proyectos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.proyecto {
  @extend %card-base; 
  text-align: center;
  width: 100%;
  max-width: 300px;
}

.proyecto img {
  width: 100%;
  border-radius: 10px;
}

h3 {
  margin-top: 10px;
}

button {
  @include boton($color-principal, white); 
  margin-top: 10px;
}

button:hover {
  background: $color-principal-hover;
}
