
// Paleta de colores
$color-principal: #1d788a;
$color-principal-hover: #0056b3;
$color-fondo: #eeeeee;
$color-texto: #000000;
$color-header: #b5b5b5;
$color-subtitulos: #0f1326;
$color-shadow: #0000004d;

// Tipografía
$fuente-base: 'Nunito', sans-serif;
$fuente-parrafos: Verdana, Geneva, Tahoma, sans-serif;

// Tamaños
$ancho-max: 1200px;