<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing - Portfolio Miguel Agustin Albornoz</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <!-- Menú Principal -->
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./academias.html">Academia</a></li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./landings.html" class="active">Landing</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Hero -->
        <section id="hero">
            <div class="container">
                <h1>Landing</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod veniam dignissimos impedit dolores adipisci iure assumenda nisi sint reiciendis ullam quidem eum, perferendis perspiciatis dolor dicta expedita quam omnis voluptatum.</p>
                <img src="../assets/img/landing.png" alt="imagen-landingpage">
                <a href="https://dicenmissueños.com" target="_blank">
                    <button>Ir a la Web</button>
                </a>
            </div>
        </section>

        <!-- Primera sección -->
        <section id="contacto">
            <h2>Contacto</h2>
            <div class="contacto-icons">
                <a href="mailto:miguelagustinalbornoz@gmail.com">
                    <i class="bi bi-envelope"></i>
                <a href="https://instagram.com/agustin__alb" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://wa.me/5493525617603" target="_blank">
                    <i class="bi bi-whatsapp"></i>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        &copy; 2025 - Portfolio Miguel Agustin Albornoz
    </footer>
</body>
</html>
