<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing - Portfolio Miguel Agustin Albornoz</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/x-icon" href="../assets/img/portfolio.png">
    
</head>
<body>
    <!-- Menú Principal -->
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand fw-bold" href="../index.html">Miguel Albornoz</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav gap-4">
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./academias.html">Academia</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./blog.html">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./landings.html">Landing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>

    <main>
        <!-- Hero -->
        <section id="hero">
            <div class="container">
                <h1>Landing</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod veniam dignissimos impedit dolores adipisci iure assumenda nisi sint reiciendis ullam quidem eum, perferendis perspiciatis dolor dicta expedita quam omnis voluptatum.</p>
                <img src="../assets/img/landing.png" alt="imagen-landingpage">
                <a href="https://dicenmissueños.com" target="_blank">
                    <button>Ir a la Web</button>
                </a>
            </div>
        </section>
<!-- Primera sección -->
        <section class="container py-5">
            <h2 class="text-center mb-5">¿Por qué elegir mis landings?</h2>
            <div class="row text-center">
              
              <div class="col-md-4">
                <i class="bi bi-lightning-charge-fill display-4 text-primary mb-3"></i>
                <h4>Rápidas y efectivas</h4>
                <p>Creadas para captar la atención en segundos y convertir visitantes en clientes.</p>
              </div>
          
              <div class="col-md-4">
                <i class="bi bi-bar-chart-line-fill display-4 text-success mb-3"></i>
                <h4>Optimizadas para resultados</h4>
                <p>Diseño estratégico con foco en conversiones, velocidad y claridad del mensaje.</p>
              </div>
          
              <div class="col-md-4">
                <i class="bi bi-pc-display display-4 text-warning mb-3"></i>
                <h4>Adaptables a todo dispositivo</h4>
                <p>Responsive y funcionales, se ven perfectas desde cualquier celular, tablet o PC.</p>
              </div>
          
            </div>
          </section>
        <!-- Sección contacto -->
        <section id="contacto">
            <h2>Contacto</h2>
            <div class="contacto-icons">
                <a href="mailto:miguelagustinalbornoz@gmail.com">
                    <i class="bi bi-envelope"></i>
                </a>    
                <a href="https://instagram.com/agustin__alb" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://wa.me/5493525617603" target="_blank">
                    <i class="bi bi-whatsapp"></i>
                </a>    
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        &copy; 2025 - Portfolio Miguel Agustin Albornoz
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
